body {
    margin: 0;
    padding: 0;
    background-color: #999;
    background-image: url(michael-dziedzic-qDG7XKJLKbs-unsplash.jpg);
    background-repeat: no-repeat ;
    background size: cover;  
}